/* Left Down Bottom Right */
@mixin left-down-bottom-right {
	$duration: $fastDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		background: $activeColor;
		height: 100%;
		width: 2px;
		@include prefixed(transition-property, transform);
		@include prefixed(transition-duration, $duration);
		@include prefixed(transform, translateY(-100%));
		@include prefixed(transition-timing-function, ease-out);
	}
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		background: $activeColor;
		height: 2px;
		width: 100%;
		@include prefixed(transition-property, transform);
		@include prefixed(transition-duration, $duration);
		@include prefixed(transition-delay, $duration);
		@include prefixed(transform, translateX(-100%));
		@include prefixed(transition-timing-function, ease-out);
	}

	&:hover,
	&:focus,
	&:active {

		&:before {
			@include prefixed(transform, translateY(0));
		}
		&:after {
			@include prefixed(transform, translateX(0));
		}
	}
}
